
.not_paused {
    color: cyan;
}

.paused_safe {
    color: white;
}
.is_paused {
    font-weight: bold;
    animation: flash 1s linear infinite;
}

@keyframes flash {
    0%,100%{
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}


.paused_half {
    color: yellow;
}

.paused_warn {
    color: orange;
}


.paused_over {
    color: red !important;
}
